@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
}
span {
    font-family: 'Poppins', sans-serif;

}
nav a {
    font-family: 'fantasy', sans-serif;

}
nav button{
    font-family: 'fantasy', sans-serif;
}
